.todoBox {
    margin-top: 1.5rem;
    padding: 1rem;
    border-radius: 8px;
    background: var(--gray-500);

    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.content {
    display: flex;
    align-items: flex-center;
    gap: 0.75rem;

    color: var(--gray-300);
}

.content > p {
    color: var(--gray-100);
    font-size: 1rem;
    line-height: 1.6;
    flex: 1;
}

.checkTodoButton {
    background: transparent;
    width: 24px;
    height: 24px;
    border: 3.5px solid var(--blue-400);
    border-radius: 50%;

    cursor: pointer;
}

.checkTodoButtonChecked {
    background: var(--purple-500);
    width: 24px;
    height: 24px;
    border-radius: 50%;

    
    cursor: pointer;
}

.checkedIcon {
    border: 0;
    appearance: none;
    background: var(--purple-500);
    width: 24px;
    height: 24px;
    border-radius: 50%;

    color: var(--white);
    cursor: pointer;
}

/* .todoDescription {
    text-decoration-line: line-through;
    color: var(--gray-500);
} */


.checkTodoButton {
    background: transparent;
    border-radius: 50%;

    cursor: pointer;
}

.delete button {
    background: transparent;
    border: 0;
    cursor: pointer;
}

.delete button svg {
    color: var(--gray-300);
}

.delete button svg:focus {
    outline: red;
    border-radius: 4px;
}

.delete button svg:hover {
    transition: 500ms;
    color: red;
}